<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="baseUrl" value="https://localhost:44360/" />
		<add key="authUrl" value="api/Auth" />
		<add key="userUrl" value="api/User" />
		<add key="userFullNameUrl" value="api/User/GetFullNames" />
		<add key="groupUrl" value="api/Group" />
		<add key="groupWithStudentsUrl" value="api/Group/GetWithStudents" />
		<add key="groupCuratorUrl" value="api/Group/GetCuratorCourse" />
		<add key="studentUrl" value="api/Student" />
		<add key="courseUrl" value="api/Course" />
		<add key="courseLecturersInfoUrl" value="api/Course/GetLecturersInfo" />
		<add key="courseForAdminUrl" value="api/Course/GetCoursesForAdmin" />
		<add key="studentCoursesUrl" value="api/Course/GetStudentCoursesInfo" />
		<add key="helperUrl" value="api/Helper" />
		<add key="courseSubscribeUrl" value="api/Subscribe" />
		<add key="taskUrl" value="api/Task" />
		<add key="studentWithFullNameUrl" value="api/Student/GetWithFullName" />
		<add key="markUrl" value="api/Mark" />
		<add key="serviceUrl" value="api/Service" />
		<add key="logUrl" value="api/Log" />
		<add key="directoryName" value="OnlineJournal" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="OnlineJournalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RNJ7DNA\SQLEXPRESS;initial catalog=OnlineJournal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>